<script setup lang="ts">
import { ref } from 'vue'

defineProps<{ on: boolean }>()


</script>

<template>
  <div class="rounded-full w-16 h-16" :class="{'bg-gray-500': !on, 'bg-red-500': on}">&nbsp;</div>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
