<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import HelloWorld from './components/HelloWorld.vue'
import {ref} from "vue";
import sound from './assets/sound.mp3'
import Light from "./components/Light.vue";

const skillCheckFailed = ref(false)
const playing = ref(false)
const inSuccessWindow = ref(false);
const gameOver = ref(false);
const startTime = ref(0);
const reactionTime = ref(0);
const lights = ref<boolean[]>([false, false, false, false, false])
const audio = new Audio(sound);
const timeouts = ref<number[]>([])
const start = function () {
    playing.value = true;
    inSuccessWindow.value = false;

    audio.play();
    for(let i = 0; i < lights.value.length; i++) {
        timeouts.value.push(setTimeout(() => {
            lights.value[i] = true
        }, 1000 * i))
    }
    timeouts.value.push(setTimeout(() => {
        inSuccessWindow.value = true;
        lights.value = [false, false, false, false, false]
        startTime.value = Date.now()
    }, 1000 * lights.value.length + Math.floor(Math.random() * 2800) + 200))
}
const skillCheck = function () {
    playing.value = false;
    gameOver.value = true;
    timeouts.value.forEach(timeout => clearTimeout(timeout))
    audio.pause();
    audio.currentTime = 0;
    if (!inSuccessWindow.value) {
        console.log('failed')
        skillCheckFailed.value = true;
        return;
    }
    console.log('success')
    reactionTime.value = Date.now() - startTime.value;

}

const reset = function () {
    playing.value = false;
    gameOver.value = false;
    skillCheckFailed.value = false;
    lights.value = [false, false, false, false, false]
    reactionTime.value = 0;
}
</script>

<template>
  <div class="flex w-full h-full justify-around	bg-black text-gray-100">
    <div class="w-96 p-2">
      <h1 class="text-2xl font-bold pb-8 text-center"> Reaction Time test</h1>
      <div class="flex flex-row gap-2 justify-around">
        <Light v-for="(light, index) in lights" :key="index" :on="light" />
      </div>
      <div class="pt-4 text-center">
        Press the Begin button, then wait until all the lights go out before you click again.
      </div>
      <button v-show="!playing && !gameOver" class="w-full bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4" @click="start">
        Begin
        </button>
      <button v-show="playing" @click="skillCheck" class="w-full bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4">
        Start!
      </button>
      <div v-if="gameOver" class="text-center pt-4">
        <div v-show="skillCheckFailed">
          You started too early!
        </div>
        <div v-show="!skillCheckFailed">
          Your reaction time was {{reactionTime/1000}}s
          </div>
          <button class="w-full bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-4" @click="reset">
            Play again
          </button>
      </div>

    </div>
  </div>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
